#Playbutton {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
    -fx-border-width: 0px; /* border width */
    -fx-border-radius: 4px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: -15 110 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
}

#Playbutton:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #101010; /* background color on hover */
    /*-fx-translate-x: -4px; /* translate effect on x-axis
    -fx-translate-y: -4px; /* translate effect on y-axis
    -fx-effect: dropshadow(gaussian, black, 4, 0, 4, 4);  shadow effect */
}

#Settingsbutton {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
    -fx-border-width: 0px; /* border width */
    -fx-border-radius: 4px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: 0 17 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
}

#Settingsbutton:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #101010; /* background color on hover */
    /*-fx-translate-x: -4px; /* translate effect on x-axis
    -fx-translate-y: -4px; /* translate effect on y-axis
    -fx-effect: dropshadow(gaussian, black, 4, 0, 4, 4);  shadow effect */
}

#Quitbutton {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
    -fx-border-width: 0px; /* border width */
    -fx-border-radius: 4px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: 0 8 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
}

#Quitbutton:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #6E0002; /* background color on hover */
    /*-fx-translate-x: -4px; /* translate effect on x-axis
    -fx-translate-y: -4px; /* translate effect on y-axis
    -fx-effect: dropshadow(gaussian, black, 4, 0, 4, 4);  shadow effect */
}

.gameButton1 {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
     -fx-border-width: 0px;  /* border width */
    -fx-border-radius: 60px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: 0 8 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
    -fx-opacity: 0.9;
}

.gameButton1:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #424242; /* background color on hover */
    -fx-opacity: 0.9;
     -fx-translate-x: 5px; /* translate effect on x-axis */
    -fx-translate-y: -5px; /* translate effect on y-axis */
    -fx-effect: dropshadow(gaussian, #1a1a1a, 4, 0, -4, 4);   /* shadow effect */
}

.gameButton2 {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
    -fx-border-width: 0px; /* border width */
    -fx-border-radius: 4px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: 0 8 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
    -fx-opacity: 0.9;
}

.gameButton2:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #424242; /* background color on hover */
    -fx-opacity: 0.9;
     -fx-translate-x: 0px; /* translate effect on x-axis */
    -fx-translate-y: -5px; /* translate effect on y-axis */
     -fx-effect: dropshadow(gaussian, #1a1a1a, 4, 0, 0, 4);  /* shadow effect */
}

.gameButton3 {
    -fx-text-fill: white; /* text color */
    -fx-background-color: #1c1c1c; /* background color should be #1c1c1c */
    -fx-cursor: hand; /* cursor style */
    -fx-border-color: black; /* border color */
    -fx-border-width: 0px; /* border width */
    -fx-border-radius: 4px; /* border radius */
    -fx-background-radius: 4px; /* background radius */
    -fx-padding: 0 8 0 0; /* padding */
    -fx-effect: null; /* reset effect for hover */
    -fx-transition: all 0.2s; /* transition time */
    -fx-translate-x: -1px;
    -fx-opacity: 0.9;
}

.gameButton3:hover {
    -fx-text-fill: white; /* text color on hover */
    -fx-background-color: #424242; /* background color on hover */
    -fx-opacity: 0.9;
     -fx-translate-x: -5px; /* translate effect on x-axis */
    -fx-translate-y: -5px; /* translate effect on y-axis */
     -fx-effect: dropshadow(gaussian, #1a1a1a, 4, 0, 4, 4);  /* shadow effect */
}


            #soundSwitch {
                -fx-background-color: #58BF5D;
                -fx-min-width: 50px;
                -fx-min-height: 25px;
                -fx-border-radius: 25px;
                -fx-background-radius: 25px;
                -fx-padding: 0;
                -fx-alignment: center-left;
                -fx-text-fill: transparent; /* Hide text by default */
            }

            #soundSwitch:selected {
                -fx-background-color: #99281C;
                -fx-alignment: center-right;
            }

             #themeChoice {
                -fx-font-size: 20px;
                -fx-list-style: none;
            }